html,
body {
    min-height: 100vh;
}

input[type='button'], input[type='submit'], input[type='file'],button {
    border: 0; 
    border-radius: 0 
    outline: 0
    cursor: pointer; 
    -webkit-appearance: none
}